<section class="footer">
    <div class="foot">
        <div class="footer-content">
            <div class="footlinks">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="./booking">Register</a></li>
                    <li><a href="./info">About Us</a></li>
                    <li><a href="./contact">Contact Us</a></li>
                </ul>
            </div>

            <div class="footlinks">
                <h4>Connect</h4>
                <div class="social">
                    <a href="https://github.com/fasihgithub" target="_blank"><i
                            class='bx bxl-facebook'></i></a>
                    <a href="https://www.linkedin.com/in/fasih-saqib-93b492253" target="_blank"><i class='bx bxl-instagram'></i></a>
                    <a href="https://www.linkedin.com/in/fasih-saqib-93b492253" target="_blank"><i class='bx bxl-twitter'></i></a>
                    <a href="https://www.linkedin.com/in/fasih-saqib-93b492253" target="_blank"><i
                            class='bx bxl-linkedin'></i></a>
                    <a href="https://github.com/fasihgithub" target="_blank"><i class='bx bxl-github'></i></a>
                </div>
            </div>

        </div>
    </div>

    <div class="end">
        <p>Copyright © 2023 Adventour All Rights Reserved.<br>Website developed by: Fasih & shahbaz</p>
    </div>
</section>
